
body {
	width: auto;
	/* background: darkgray; */
	padding-top: 80px;
}

@media (min-width: 768px) {
	.navbar-custom {
		padding: 10px 0;
		-webkit-transition: padding 0.3s;
		-moz-transition: padding 0.3s;
		transition: padding 0.3s;
	}
	.navbar-custom .navbar-brand {
		font-size: 2em;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	.navbar-custom.affix {
		padding: 10px 0;
	}
	.navbar-custom.affix .navbar-brand {
		font-size: 1.5em;
	}
}

.flexcontainer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.cookieholder {
	/* This will be twice as big as the small item. */
	-webkit-flex: 2 0 0;
	flex: 1 0 0;
}
.enter {
	-webkit-flex: 1 0 0;
	flex: 2 0 0;
}

.print {
	-webkit-flex: 1 0 0;
	flex: 4 0 0;
}

.results h3 {
	display: inline-block;
	vertical-align: top;
}

.multilineResults p {
	display: block;
}

#active {
	display: inline;
}

#benched {
	display: inline;
}

#discard {
	color: red;
	display: inline;
}

.pokemon {
	display:inline;
}

#stadium {
	float: right;
	display: inline;
	right: 0;
}

#prompt {

}

.debugElement{
	display: inline;
}

.printedCard {
	position: relative;
}