#active {
	display: inline;
}

#benched {
	display: inline;
}

#discard {
	color: red;
	display: inline;
}

.pokemon {
	position: relative;
}

#stadium {
	text-align: right;
	display: inline;
	right: 0;
}

#hand{
}
